body {
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
}

#car-canvas {
  background: #2a5;
}

#network-canvas {
  background: black;
}

#world-canvas {
  background: #2a5;
}

.active {
  background-color: lightblue;
}

.inactive {
  background-color: gray;
}

.hidden {
  display: none;
}

.buttons-tab {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: lightgray;
  padding: 5px;
}

.canvas-row {
  display: flex;
  flex-direction: row;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  background-color: lightgrey;
  border: 1px solid black;
}

button {
  display: inline-block;
  background-color: white;
  font-size: 20px;
  padding: 5px 7px 7px 5px;
  margin: 0px 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1); /* Apply scale effect on hover and click */
  transition: transform 0.1s ease; /* Add transition for smooth animation */
}

.disabled {
  cursor: not-allowed;
}

/* Styles for btn-dispose */
#btn-dispose:hover,
#btn-dispose:active {
  background-color: lightblue; /* Change background color on hover and click */
  color: white; /* Change text color on hover and click */
}

/* Styles for btn-save */
#btn-save:hover,
#btn-save:active {
  background-color: lightgreen; /* Change background color on hover and click */
  color: white; /* Change text color on hover and click */
}

.file-input-label {
  display: inline-block;
  position: relative;
  background-color: white;
  font-size: 20px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.file-input-label:hover {
  transform: scale(1.1); /* Scale down to 90% on hover */
  background-color: lightcoral; /* Change background color on hover and click */
}

.file-input-label input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  cursor: pointer;
}

#osmPanel {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}
